[Unit]
Description=Osprey autossh
After=network-online.target
Wants=network-online.target
After=osprey-bootstrapper.service
StartLimitInterval=200
StartLimitBurst=20

[Service]
Type=forking
ExecStart=/usr/local/bin/osprey-autossh
User=pi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target