Package: osprey-low-level-control-service
Version: RELEASE_TAG
Section: base
Priority: optional
Architecture: armhf
Depends:
Maintainer: Your Name <you@email.com>
Description: osprey low-level-control-service
