[Unit]
Description=Osprey bootstrapper

[Service]
Type=oneshot
ExecStart=/usr/local/bin/osprey-bootstrapper
User=pi

[Install]
WantedBy=multi-user.target